<!doctype html>
<html>
	<head>

		<title> Salas </title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


		<!-- Este archivo adapter.js prefiere el webkit * y moz * RTC Métodos prefijado . Cuando RTC se convierte en un estándar más sólido, este adaptador no sera necesario. -->
		<!-- <script src="https://webrtc.googlecode.com/svn/trunk/samples/js/base/adapter.js"></script> -->
		<style>
			html, body { 
				background-color: #333; 
			}
			video {
				width:  320px;
				height:  240px;
				border:  1px solid black;
			}
		</style>
  
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		


		<script>

			/** Configuraciones    **/
			var SERVIDOR_DE_SEÑALIZACIÓN = "http://localhost";
			var USE_AUDIO = true;
			var USE_VIDEO = true;

			var CANAL_VIDEOLLAMADA =  <%- JSON.stringify(salaVideoLlamada) %>;

			var MUTE_AUDIO_BY_DEFAULT = false;

			/** You should probably use a different stun server doing commercial stuff **/
			/** Also see: https://gist.github.com/zziuni/3741933 **/
			var ICE_SERVERS = [
				{url:"stun:stun.l.google.com:19302"}
			];



			/* Nuestra conexión socket.io a nuestro servidor web */
			var conexionSocketsToServer = null;   
			 /* Nuestro propio micrófono / webcam */
			var propioWebcamMicrofono = null;
			/* Realizar un seguimiento de nuestras conexiones de pares, indexado por peer_id (alias socket.io id)  */
			var peers = {};  
			/** Realiza un seguimiento de nuestras etiquetas <video> / <audio>, indexadas por peer_id */              
			var peer_media_elements = {};  

			function init() {
				console.log(" ==================================== \n function init  \n ===================================");
				console.log("Connecting to signaling server");

				conexionSocketsToServer = io(SERVIDOR_DE_SEÑALIZACIÓN);
				conexionSocketsToServer = io();

				conexionSocketsToServer.on('connect', function() {
					console.log("Connected to signaling server");

					setup_local_media( function() {
						/* once the user has given us access to their
						 * microphone/camcorder, join the channel and start peering up */

						join_chat_channel(CANAL_VIDEOLLAMADA, {'whatever-you-want-here': 'stuff'} );
						}
					);
				});

				conexionSocketsToServer.on('disconnect', function() {
					console.log("Disconnected from signaling server");

					/* 
					Derribar todas nuestras conexiones de pares y eliminar todas las div divs cuando desconectamos
					*/
					for (peer_id in peer_media_elements) {
						peer_media_elements[peer_id].remove();
					}
					for (peer_id in peers) {
						peers[peer_id].close();
					}

					peers = {};
					peer_media_elements = {};
				});


				function join_chat_channel(channel, userdata) {
					conexionSocketsToServer.emit('join', {"channel": channel, "userdata": userdata});
				}
				function part_chat_channel(channel) {
					conexionSocketsToServer.emit('part', channel);
				}


				/** 
				Cuando nos unimos a un grupo, nuestro servidor de señalización enviará eventos 'addPeer' a cada par de usuarios del grupo 

				(creando un gráfico de usuarios completamente conectado, es decir, si hay 6 personas en el canal que se conectará directamente a la otra 5, por lo que habrá un total de 15 conexiones en la red).
				*/
				conexionSocketsToServer.on('addPeer', function(config) {
					console.log('Signaling server said to add peer:', config);
					
					var peer_id = config.peer_id;
					if (peer_id in peers) {
						/* 
						Esto podría ocurrir si el usuario se une a varios canales en los que también está el otro interlocutor.
						*/
						console.log("Already connected to peer ", peer_id);
						return;
					}

					/**  RTCPeerConnection interface represents a WebRTC connection between the local computer and a remote peer 

					pc = new RTCPeerConnection([configuration]);
					*/
					var peer_connection = new RTCPeerConnection(
						{"iceServers": ICE_SERVERS},

						/* Esto ya no será necesario por cromo eventualmente (supuestamente), pero es necesario por ahora para obtener firefox para hablar con chrome */
						{"optional": [{"DtlsSrtpKeyAgreement": true}]} 
					);
					peers[peer_id] = peer_connection;

					/** RTCPeerConnection.onicecandidate es un EventHandler que especifica una función a ser llamada cuando el evento icecandidate se produce en una instancia de RTCPeerConnection. 

					ocurre siempre que el agente ICE local necesita entregar un mensaje al otro interlocutor a través del servidor de señalización. Esto permite que el agente ICE realice negociaciones con el par remoto sin que el navegador  conosza la señalización
					*/ 
					peer_connection.onicecandidate = function(event) {
						
						// Envía al candidato al interlocutor remoto
						if (event.candidate) {
							conexionSocketsToServer.emit('relayICECandidate', {
								'peer_id': peer_id, 
								'ice_candidate': {
									'sdpMLineIndex': event.candidate.sdpMLineIndex,
									'candidate': event.candidate.candidate
								}
							});
						}
					}

					/**
					RTCPeerConnection.onaddstream

					controlador para el evento addstream es llamado por la capa WebRTC local, para informarle cuando se ha agregado un flujo remoto a su conexión. Esto le permite conectar el flujo entrante a un elemento para mostrarlo
					*/
					peer_connection.onaddstream = function(event) {
						console.log("onAddStream", event);

						var remote_media = USE_VIDEO ? $("<video>") : $("<audio>");
						remote_media.attr("autoplay", "autoplay");
						if (MUTE_AUDIO_BY_DEFAULT) {
							remote_media.attr("muted", "true");
						}
						remote_media.attr("controls", "");
						peer_media_elements[peer_id] = remote_media;
						
						$('body').append(remote_media);

						adjuntarMediaStream(remote_media[0], event.stream);
					}

					/* Agreha nuestro streaming LOCALMENTE */
					peer_connection.addStream(propioWebcamMicrofono);

					/* 
					Sólo un lado de la conexión entre iguales debe crear la oferta, el servidor de señalización elige uno para ser el oferente (ofrece).

					El otro usuario obtendrá un evento 'sessionDescription' y creará una oferta, luego enviará una respuesta 'sessionDescription' a nosotros.
					 */
					if (config.should_create_offer) {
						
						console.log("==================== Creando OFERTA RTC a ", peer_id);

						peer_connection.createOffer(

							function (local_description) { 
								console.log("Local offer description is: ", local_description);

								peer_connection.setLocalDescription(
									local_description,
									
									function() { 
										conexionSocketsToServer.emit('relaySessionDescription', 
											{'peer_id': peer_id, 'session_description': local_description});
										console.log("Offer setLocalDescription succeeded"); 
									},
									function() { Alert("Offer setLocalDescription failed!"); }
								);
							},

							function (error) { console.log("Error sending offer: ", error); }
						);
					}

				});


				/** 
				Los compañeros intercambian descripciones de sesión que contienen información sobre sus ajustes de audio / video y ese tipo de cosas. En primer lugar, el "oferente" envía una descripción a la "respuesta" (con el tipo "oferta"), a continuación, el remitente envía una espalda (con el tipo "respuesta").
				*/
				conexionSocketsToServer.on('sessionDescription', function(config) {
					console.log('=============================== \n Descripcion  remota recibida: ', config, 
						' \n ===============================');
					
					var peer_id = config.peer_id;
					var peer = peers[peer_id];
					var remote_description = config.session_description;

					console.log(config.session_description);

					var desc = new RTCSessionDescription(remote_description);

					/** 
					RTCPeerConnection.setRemoteDescription(): promise
					cambia la descripción remota asociada con la conexión. 

					Esta descripción especifica las propiedades del extremo remoto de la conexión, incluyendo el formato de medios. El método toma un solo parámetro -la descripción de la sesión- 

					Esto se suele llamar después de recibir una oferta o respuesta de otro interlocutor a través del servidor de señalización. Tenga en cuenta que si se llama a setRemoteDescription () mientras una conexión ya está en su lugar, significa que la renegociación está en curso (posiblemente para adaptarse a las condiciones cambiantes de la red). la descripción enviada por llamada a setRemoteDescription () 


					aPromise = pc.setRemoteDescription(sessionDescription);
						ó
					pc.setRemoteDescription(sessionDescription, successCallback, errorCallback); 
					*/
					var stuff = peer.setRemoteDescription(
						desc, 
						
						function() {
							console.log("setRemoteDescription succeeded");
							if (remote_description.type == "offer") {
								console.log("Creating answer");
								peer.createAnswer(
									function(local_description) {
										console.log("Answer description is: ", local_description);
										peer.setLocalDescription(local_description,
											function() { 
												conexionSocketsToServer.emit('relaySessionDescription', 
													{'peer_id': peer_id, 'session_description': local_description});
												console.log("Answer setLocalDescription succeeded");
											},
											function() { Alert("Answer setLocalDescription failed!"); }
										);
									},
									function(error) {
										console.log("Error creating answer: ", error);
										console.log(peer);
									});
							}
						},

						function(error) {	console.log("setRemoteDescription error: ", error); }
					);
					
					console.log("Description Object: ", desc);

				});

				/**
				El oferente enviará un número de bloques de Candidato de ICE al contestador para que puedan empezar a tratar de encontrar el mejor camino entre ellos en la red.

				RTCPeerConnection.addIceCandidate(). 
				agrega un candidado remoto a la descripcion remota de RTCPeerConnection
				 */ 
				conexionSocketsToServer.on('iceCandidate', function(config) {
					var peer = peers[config.peer_id];
					var ice_candidate = config.ice_candidate;
					peer.addIceCandidate(new RTCIceCandidate(ice_candidate));
				});



				/**
				  * Cuando un usuario deja un canal (o está desconectado del
				  * Servidor de señalización) todos recibirán un mensaje 'removePeer'
				  * Diciéndoles que trash los canales de los medios que han abierto para ésos
				  * Ese par. Si este cliente dejara un canal, también
				  * Recibir el removePeers. Si este cliente fue desconectado,
				  * No recibirá removePeers, sino más bien el
				  * conexionSocketsToServer.on ('desconectar') código se iniciará y derribar
				  * Todas las sesiones de compañeros.
				 */
				conexionSocketsToServer.on('removePeer', function(config) {
					console.log('Signaling server said to remove peer:', config);
					var peer_id = config.peer_id;
					if (peer_id in peer_media_elements) {
						peer_media_elements[peer_id].remove();
					}
					if (peer_id in peers) {
						peers[peer_id].close();
					}

					delete peers[peer_id];
					delete peer_media_elements[config.peer_id];
				});
			}


			function setup_local_media(callback, errorback) {
				console.log("=========================== setup_local_media ======================");

				if (propioWebcamMicrofono != null) {  /* ie, if we've already been initialized */
					if (callback) callback();
					return; 
				}

				/* Solicite permiso al usuario para utilizar el micrófono de los ordenadores y / o la cámara,
				* Adjuntarlo a una etiqueta <audio> o <video> si nos dan acceso. */
				console.log("Solicitar acceso a entradas de audio / video locales");

				navigator.getUserMedia = ( 
					navigator.getUserMedia ||
					navigator.webkitGetUserMedia ||
					navigator.mozGetUserMedia ||
					navigator.msGetUserMedia
				);

				/**  funcion que agrega el flujo:  remote_media y local_media */
				adjuntarMediaStream = function(element, stream) {
					console.log('DEPRECATED, adjuntarMediaStream will soon be removed.');

					/** 
					srcObject de la interfaz HTMLMediaElement establece o devuelve el objeto que sirve como origen del medio asociado con HTMLMediaElement. Esto suele ser un MediaStream, pero puede, de acuerdo con la especificación, ser un MediaSource, Blob o archivo.
					*/
					element.srcObject = stream;
				};

				/** 
				navigator.getUserMedia ( constraints, successCallback, errorCallback );

				Pide permiso para usar cámara o micrófono. 
				*/
				navigator.getUserMedia(

					{"audio":USE_AUDIO, "video":USE_VIDEO} ,
					
					function(stream) { /* user accepted access to a/v */
						console.log("Access granted to audio/video");
						propioWebcamMicrofono = stream;


						/** ============================================
						agreamos atiqueta videos y audio, al body 
						============================================ */
						var local_media = USE_VIDEO ? $("<video>") : $("<audio>");
						local_media.attr("autoplay", "autoplay");
						local_media.attr("muted", "true");
						local_media.attr("controls", "");

						$('body').append(local_media);
						adjuntarMediaStream(local_media[0], stream);


						if (callback) callback();
					},

					function() { /* Usuario denego uso de video y audio */
						console.log("Access denied for audio/video");
						alert("You chose not to provide access to the camera/microphone, demo will not work.");
						if (errorback) errorback();
					});
			}
		</script>
	</head>

	<body onload='init()'>

		
		<h1 style="color:white; text-align: center;"> Bienvenido a la sala: <%= salaVideoLlamada %> </h1>

		<!-- 
		the <video> and <audio> tags are all added and removed dynamically
		in 'onAddStream', 'setup_local_media', and 'removePeer'/'disconnect'
		-->
	</body>

</html>
