<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.webrtc-experiment.com/style.css">

	<title>Compartir a muchos mi escritorio</title>

	<meta name="description" content="Compartir a muchos mi escritorio" />

	<style>
		video {
			object-fit: fill;
			width: 100%;
		}
		button,
		input,
		select {
			font-weight: normal;
			padding: 2px 4px;
			text-decoration: none;
			display: inline-block;
			text-shadow: none;
			font-size: 16px;
			outline: none;
		}

		.make-center {
			text-align: center;
			padding: 5px 10px;
		}
	</style>
</head>

<body>
	<article>



		<section class="experiment">

			<div class="make-center">
				<input type="text" id="roomID" placeholder="Agrege un cuarto para compartir">
				<button id="crearRoomButton">Crear un cuarto</button>
				<button id="unirseRoomButton">Unirse a un cuarto</button>
				<button id="crearOunirseARoomButton">Auto Open Or Join Room</button>

				<!--  Aparece div id="urlDeRoomDiv" 
				cuando se ha creado un cuarto (Room)

					Unica URL en tu cuarto:
					Hash URL: #conferencia
					QueryString URL: ?roomid=conferencia
				-->
				<div id="urlDeRoomDiv" 
					style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;">
				</div>
			</div>

			<div id="videosShareScreenDiv"></div>

			<br><br>

			<div>
				(No funciona, Instalar plugin para
				<a href="https://chrome.google.com/webstore/detail/screen-capturing/ajhifddimkapgcifgcodmmfdlknahffk" 
					target="_blank">
					Chrome
				</a> o para 
				<a href="https://www.webrtc-experiment.com/store/firefox-extension/enable-screen-capturing.xpi" target="_blank">        		Firefox
				</a>) 
			</div>


			<div id="videosShareScreenDiv"></div>

		</section>

		<!-- 
		<script src="/dist/RTCMultiConnection.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		-->


		<script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
		<script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>


		<!-- capture screen from any HTTPs domain! -->
		<script src="https://cdn.webrtc-experiment.com:443/getScreenId.js"></script>

		<script>
			/** ==================================================
													Codigo Vista UI

			uso de connection con metodos: open, join, openOrJoin
			================================================== */

			document.getElementById('crearRoomButton').onclick = function() {
				
				disableInputButtons();
				connection.open(document.getElementById('roomID').value, function() {
					
					console.log("-------- connection.sessionid ------------");
					JSON.stringify(connection.sessionid, null, 4);

					showRoomURL(connection.sessionid);
				});

			};

			document.getElementById('unirseRoomButton').onclick = function() {
				disableInputButtons();
				connection.join(document.getElementById('roomID').value);
			};

			document.getElementById('crearOunirseARoomButton').onclick = function() {
				disableInputButtons();
				connection.openOrJoin(document.getElementById('roomID').value, function(isRoomExists, roomid) {
					if(!isRoomExists) {
						showRoomURL(roomid);
					}
				});
			};

			/** =======================================
						RTCMultiConnection Codigo 
			======================================= */
			var connection = new RTCMultiConnection();



			/** Por defecto, se supone que el servidor socket.io se implementa en su propia URL

			si no tiene su propio servidor socket.io:
			connection.socketURL = 'https://rtcmulticonnection.herokuapp.com:443/';
			*/
			connection.socketURL = '/';


			connection.socketMessageEvent = 'screen-sharing-demo';

			connection.session = {
				screen: true,
				oneway: true
			};

			connection.sdpConstraints.mandatory = {
				OfferToReceiveAudio: false,
				OfferToReceiveVideo: false
			};

			connection.videosContainer = document.getElementById('videosShareScreenDiv');
			connection.onstream = function(event) {
				console.log("---------- 	connection.onstream = function(event) ");

				connection.videosContainer.appendChild(event.mediaElement);
				event.mediaElement.play();
				setTimeout(function() {
					console.log("setTimeout(function():		event.mediaElement.play()");

					event.mediaElement.play();
				}, 5000);
			};

			/** =====================================================
			Utilizar getScreenId.js para capturar la pantalla desde cualquier dominio
			¡NO necesita implementar la extensión de Chrome tu mismo!
			===================================================== */
			connection.getScreenConstraints = function(callback) {
				getScreenConstraints(function(error, screen_constraints) {
					if (!error) {
						screen_constraints = connection.modifyScreenConstraints(screen_constraints);
						callback(error, screen_constraints);
						return;
					}
					throw error;
				});
			};

			function disableInputButtons() {
				document.getElementById('crearOunirseARoomButton').disabled = true;
				document.getElementById('crearRoomButton').disabled = true;
				document.getElementById('unirseRoomButton').disabled = true;
				document.getElementById('roomID').disabled = true;
			}

		
			/** =================================================
			Funcioon que inyecta HTML de las URL  roomID 
			================================================= */

			function showRoomURL(roomid) {
				var roomHashURL = '#' + roomid;
				var roomQueryStringURL = '?roomid=' + roomid;

				var htmlInyectar = '<h2>Unica URL en tu cuarto:</h2><br>';

				htmlInyectar += 'Hash URL: <a href="' + roomHashURL + '" target="_blank">' + roomHashURL + '</a>';
				htmlInyectar += '<br>';
				htmlInyectar += 'QueryString URL: <a href="' + roomQueryStringURL + '" target="_blank">' + roomQueryStringURL + '</a>';

				var roomURLsDiv = document.getElementById('urlDeRoomDiv');
				roomURLsDiv.innerHTML = htmlInyectar;
				roomURLsDiv.style.display = 'block';
			}

			(function() {
				var params = {},
					r = /([^&=]+)=?([^&]*)/g;

				function d(s) {
					return decodeURIComponent(s.replace(/\+/g, ' '));
				}
				var match, search = window.location.search;
				while (match = r.exec(search.substring(1)))
					params[d(match[1])] = d(match[2]);

				console.log("(funcion(){...}) params");
				console.log(params);

				window.params = params;
			})();

			var roomid = '';
			if (localStorage.getItem(connection.socketMessageEvent)) {
				roomid = localStorage.getItem(connection.socketMessageEvent);
			} else {
				roomid = connection.token();
			}
			
			document.getElementById('roomID').value = roomid;
			document.getElementById('roomID').onkeyup = function() {
				localStorage.setItem(connection.socketMessageEvent, this.value);
			};

			var hashString = location.hash.replace('#', '');
			if(hashString.length && hashString.indexOf('comment-') == 0) {
			  hashString = '';
			}

			var roomid = params.roomid;
			if(!roomid && hashString.length) {
				roomid = hashString;
			}

			if(roomid && roomid.length) {
				document.getElementById('roomID').value = roomid;
				localStorage.setItem(connection.socketMessageEvent, roomid);

				// auto-unirseRoomButton
				(function reCheckRoomPresence() {
					connection.checkPresence(roomid, function(isRoomExists) {
						if(isRoomExists) {
							connection.join(roomid);
							return;
						}

						setTimeout(reCheckRoomPresence, 5000);
					});
				})();

				disableInputButtons();
			}
		</script>


		<script src="https://cdn.webrtc-experiment.com/commits.js" async></script>

	</article>

</body>

</html>
