<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title> Perfil personal </title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Perfil personal </h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>Nombre</strong>: <%= user.username %><br>
						<strong>Contraseña encriptada </strong>: <%= user.password %>
					</p>

					<p>
						<a href="/seleccionar-sala"> Sala para Video llamadas </a>
					</p>

					<p>
						<a href="/servidor-senalizacion-compartir"> Sala para compartir escritorio </a>
					</p>
					

			</div>
		</div>

	</div>

</div>
</body>
</html>
